* {
  margin: 0;
}
body {
  overflow-x: hidden;
}

marquee {
  width: 100%;
  background-color: #F33E6B;
  color: white;
  padding: 5px;
  margin: 0;
  position: fixed;
  top: 0;
  font-weight: 900;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 30px;
  margin: 25px;
}
.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  margin-top: 15px;
}

.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.grid-item-3 {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: center;
}

.grid-item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: justify;
}

.grid-item-5 {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: center;
}

.grid-item-7 {
  grid-column-start: 2;
  grid-column-end: 4;
}

img {
  width: 85%;
  border-radius: 20px;
}
.flexthis {
  display: flex;
}

.flexchild1,
.flexchild2 {
  padding: 10px;
}

h2 {
  text-align: center;
  font-family: "Abhaya Libre", serif;
  color: #F33E6B;
  margin-bottom: 10px;
}
h3 {
  font-family: "Abhaya Libre", serif;
  padding: 5px;
}
.grid-item-6,
.grid-item-7,
.grid-item-8 {
  box-shadow: 0 0 15px #aaaaaa;
  border-radius: 30px;
  padding: 10px;
  text-align: justify;
}

.avoid_image {
  text-align: center;
  margin: 10px 0;
}
p {
  font-size: 1.5vw;
  text-align: center;
}

footer {
  background-color: #C3CCD4;
  padding: 5px;
  color: white;
  bottom: 0;
  text-align: center;
}

footer a {
  color: white;
}

mark {
  color: #F33E6B;
  background-color: white;
}
a {
  text-decoration: none;
}

iframe {
  margin-bottom: 20px;
}

h5 {
  color: #6A6A6A;
  margin-top:5px;
}

.grid-item-9 {
  margin:10px;
  display:flex;
  align-items:center;
  
}

@media only screen and (max-width: 1000px) {
  .container {
    display: inline-block;
  }

  .grid-item-6,
  .grid-item-7,
  .grid-item-8 {
    border: black solid;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: justify;
  }

  .iframe {
    display: flex;
    flex-direction: column;
  }

  h5 {
    margin-bottom: 20px;
    margin-top: 0;
  }
  .grid-item-3,
  .grid-item-5 {
    margin-bottom: 0;
  }

  .flexthis {
    display: block;
  }
  .grid-item-9 {
  
}
}
